.txt {
    color: white;
    font-family: "Poppins", sans-serif;
    margin-right: 18px;
}

.containerscreenshot {
    margin-top: 89px;
    margin-bottom: 50px;
    margin-left: 253px;
    margin-right: 300px;
    padding: 28px;
    width: 1322px;
    justify-content: center;
}

.m {
    font-size: 23px;
}

.f {
    margin-left: 234px;
}

input {
    font-size: 25px;
    border-radius: 7px;
    size: 29px;
}

input:focus {
    box-shadow: rgb(60, 32, 32) 0px 3px 8px;
}

.submit {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 242px;
}

.submit:hover {
    background-color: #93dcdf;
    color: white;
}

.table {
    margin-left: 435px;
    color: rgba(219, 214, 193, 0.832);
}

.th {
    font-size: 18px;
}